@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
}

.game-container {
  display: flex;
  background-color: #333;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 5px;
}
.game-area {
  display: grid;
  background-color: rgb(57, 57, 57);
  /* background-color:  */
  border-radius: 50%;
  gap: 2px;
  text-align: center;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.cell {
  border: 1px solid gray;
  cursor: pointer;
  text-align: center;
  padding: 15px;
  /* transition: 0.2s ease; */
  max-width: 20px;
  /* border-radius: 50px; */
}
.game-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38%;
  gap: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.game-over {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  color: black;
  background-color: rgb(210, 136, 136);
  font-family: "Pacifico", cursive;
  text-align: center;
  opacity: 0;
}
.score-board {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  color: black;
  background-color: rgb(136, 172, 210);
  font-family: "Pacifico", cursive;
  text-align: center;
  opacity: 1;
}
